.about-container {
  background-color: #e3e3e3;
  min-height: 100vh;
}

.background-image {
  position: relative; /* Make the container relative for absolute positioning of pseudo-element */
  width: 100%; /* Set width to fill the parent container */
  height: 25rem; /* Set height to fill the viewport */
}

.background-image::before {
  content: ""; /* Required for pseudo-element */
  position: absolute; /* Position the pseudo-element */
  top: 0;
  left: 0;
  width: 100%; /* Set width to fill the container */
  height: 100%; /* Set height to fill the container */
  background-color: rgb(0, 0, 0); /* Black color with 50% opacity */
}

.background-image::after {
  content: ""; /* Required for pseudo-element */
  position: absolute; /* Position the pseudo-element */
  top: 0;
  left: 0;
  width: 100%; /* Set width to fill the container */
  height: 100%; /* Set height to fill the container */
  background-image: url("../../assets/images/background-photo.jpeg");
  background-size: 100%;
  background-position: 0% 35%;
  opacity: 0.4; /* Adjust the opacity of the background image */
}

.background-image h1 {
  color: white;
  position: absolute;
  font-family: FiraGO-caps;
  left: 4rem;
  top: 40%;
  z-index: 10;
}

.element-with-border {
  position: absolute;
  top: 45%;
  left: 20.5rem;
  width: 60%;
  z-index: 10;
  border: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    #ffffff 2.89%,
    rgba(56, 62, 77, 0) 100.96%
  );
  border-image-slice: 1;
  border-image-width: 2;
}

.circle {
  position: absolute;
  z-index: 10;
  top: 43.5%;
  left: 20rem;
  width: 0.8rem; /* Set the width */
  height: 0.8rem; /* Set the height */
  border-radius: 50%; /* Make it a circle */
  background-color: white; /* Just for demonstration */
}

.rector-container {
  position: relative;
  margin: 0 4rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  border-radius: 12px;
  transform: translateY(-20%);
}

.seu-background-image {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
}

.rector-container h3 {
  color: #383e4d;
  font-size: 28px;
  font-family: FiraGO-caps;
}

.rector-container p {
  font-style: italic;
  max-width: 34rem;
  margin-left: 1rem;
}

.rector-paragraph {
  display: flex;
  align-items: flex-start;
  margin-left: 1.5rem;
  margin-top: 2rem;
}

.paragraph-underline {
  margin-left: 1rem;
  margin-top: 2rem;
  width: 55%;
  height: 2px;
  background-color: var(--mainColorOrange);
}
