.announcments-container {
  position: relative;
  background-color: white;
  padding-top: 1rem;
  z-index: 3;
}

.slanted-rectangle {
  position: absolute;
  left: -5%;
  top: 0;
  display: flex;
  justify-content: end;
  width: 420px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  background-color: #efefef; /* Change color as needed */
  transform: skewX(-60deg);
  border-bottom-right-radius: 1rem;
}

.announcments-title {
  position: absolute;
  left: 4rem;
  top: 0;
  color: #214177;
  transform: translateY(-5px);
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 500;
  font-family: "FiraGO";
  font-feature-settings: "case" on;
}

.announcments-button {
  z-index: 3;
  background-color: #efefef;
  padding: 0.3rem 1rem;
  border: none;
  font-family: "FiraGO";
  font-feature-settings: "case" on;
  font-size: 16px;
  color: #214177;
  font-weight: 500;
  border-radius: 1rem;
  cursor: pointer;
  position: absolute;
  display: flex;
  right: 0.5rem;
  margin-right: 5rem;
  width: max-content;
  align-items: center;
}

.announcments-button.all {
  transform: translate(-130%, 0.4rem);
  margin: 0;
}

.announcments-button-container {
  /* position: absolute; */
  /* transform: translateX(100%); */
  right: 8%;
  top: 6%;
}

.announcments-button-container > *:not(:last-child) {
  margin-right: 0.5rem;
}

.announcments-slider-container {
  overflow: hidden;
}

.announcments-slider {
  position: relative;
  width: 110%;
  height: 120%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
  margin-left: 4rem;
}

.announcments-month {
  font-weight: 700;
  color: var(--mainColorOrange);
  font-size: 22px;
  transform: translateY(-8px);
}

.announcments-day {
  display: inline-block;
  font-weight: 700;
  font-size: 40px;
  color: var(--mainColorOrange);
  font-family: sans-serif;
}

.announcments-year {
  font-weight: 700;
  font-size: 24px;
  color: var(--mainColorOrange);
  font-family: sans-serif;
}

.announcments-slider-description {
  padding-top: 0.5rem;
  border-top: 1.47px solid #0000001a;
  font-family: "FiraGO";
}

.announcments-slider-description h3 {
  color: #214177;
  height: 72px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 20px;
}

.announcments-slider-description p {
  font-size: 16px;
  height: 114px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* Number of lines you want before ellipsis */
  color: #214177;
}

.announcments-slider-overlay {
  position: absolute;
  top: -8px;
  right: 5%;
  background-color: var(--mainColorOrange);
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 2rem;
}

.announcments-slider-read-more {
  position: absolute;
  cursor: pointer;
  z-index: 0;
  bottom: 0;
  right: 0px;
  transform: translate(0%, -100%);
  background-color: var(--mainColorOrange);
  width: 180px;
  flex-direction: column;
  align-items: center;
  height: 90px;
  justify-content: end;
  text-transform: uppercase;
  font-family: "FiraGO";
  font-feature-settings: "case" on;
  color: white;
  border-radius: 1rem;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  display: none;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.5s ease-in-out;
}

@keyframes bounceAn {
  0% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(55%);
  }
  100% {
    transform: translateY(50%);
  }
}

.announcments-slider-read-more div {
  transform: translateY(-12px);
}

.slider-item-top-content {
  position: relative;
  z-index: 100;
  width: 100%;
  background-color: #efefef;
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 1rem;
  border: 2px solid #efefef;
  transition: all 0.3s ease-in-out;
}

.slider-item-top-content:hover {
  border: 2px solid var(--mainColorOrange);
  transition: all 0.3s ease-in-out;
}

.announcments-slider-item {
  position: relative;
  max-width: 300px;
  margin-right: 1rem;
  width: 300px;
  cursor: pointer;
}

.announcments-slider-item:hover .announcments-slider-read-more {
  display: flex;
  transform: translateY(50%);
  animation: bounceAn 0.7s;
  opacity: 1;
}

.announcments-left-button {
  position: absolute;
  top: 6px;
  right: 14.5rem;
  transform: translateX(-100%);
}

.announcments-right-button {
  position: absolute;
  top: 6px;
  right: 14rem;
}

@media only screen and (max-width: 1500px) {
  .announcments-button-container .announcments-button {
    right: 1.5rem;
  }

  .announcments-button.all {
    transform: translate(-135%, 0.4rem);
  }
}

@media only screen and (max-width: 1375px) {
  .announcments-button-container .announcments-button {
    right: 4rem;
  }

  .announcments-slider {
    width: 113%;
  }

  .announcments-button.all {
    transform: translate(-165%, 0.4rem);
  }

  .announcments-left-button {
    position: absolute;
    top: 6px;
    right: 17.5rem;
    transform: translateX(-100%);
  }

  .announcments-right-button {
    position: absolute;
    top: 6px;
    right: 17rem;
  }
}

@media only screen and (max-width: 475px) {
  .announcments-right-button,
  .announcments-left-button {
    display: none;
  }

  .announcments-button.all {
    transform: none;
    font-size: 12px;
  }

  .announcments-title {
    font-size: 18px;
    left: 1rem;
    top: 0.5rem;
  }

  .slanted-rectangle {
    width: 200px;
    height: 30px;
    left: -10%;
  }

  .announcments-slider {
    margin-left: 0rem;
    width: 100%;
    justify-content: start;
    padding-left: 3rem;
  }

  .announcments-slider-item {
    width: 163px;
  }

  .announcments-slider .react-multi-carousel-item {
    width: auto !important;
  }

  .announcments-year {
    font-size: 11px;
  }

  .announcments-day {
    font-size: 22.5px;
  }

  .announcments-month {
    font-size: 13px;
    margin-top: 0.5rem;
  }

  .announcments-slider-description h3 {
    font-size: 10px;
    height: 38px;
  }

  .announcments-slider-description p {
    font-size: 8px;
    height: 39px;
  }

  .announcments-slider-overlay {
    font-size: 8px;
  }

  .slider-item-top-content {
    padding: 0.5rem;
  }

  .announcments-slider-read-more {
    width: 100px;
    font-size: 8px;
    height: 60px;
  }
}
