.announcments-card-container {
  background-color: #fff;
  border: 1px solid #fff;
  transition: all 0.5s;
  border-radius: 0.5rem;
  display: flex;
  padding: 1rem;
  z-index: 1000;
  position: relative;
  margin-bottom: 1rem;
  flex-direction: column;
  font-family: "FiraGO";
  max-width: 845px;
  cursor: pointer;
}

.announcments-card-container:hover {
  border: 1px solid var(--mainColorOrange);
}

.announcments-card-top {
  display: flex;
  align-items: center;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid var(--mainColorOrange);
}

.announcments-card-title {
  font-weight: 600;
  color: #29334f;
  font-size: 18px;
  font-feature-settings: "case" on;
  margin-left: 1rem;
  max-width: 655px;
}

.announcments-card-description {
  max-width: 810px;
  font-weight: 400;
  font-size: 18px;
  font-feature-settings: "case" on;
  color: #383e4d;
}

.announcments-card-date-month {
  font-weight: 700;
  font-size: 24px;
  color: var(--mainColorOrange);
}

.announcments-card-date-top {
  height: 25px;
  display: flex;
  align-items: center;
}

.announcments-card-date-top-day {
  font-weight: 700;
  font-family: "Rubik";
  font-size: 42px;
  color: var(--mainColorOrange);
  padding: 0;
  margin: 0;
}

.announcments-card-date-top-year {
  transform: translateY(25%);
  font-weight: 600;
  font-family: "Rubik";
  font-size: 20px;
  color: var(--mainColorOrange);
}

@media only screen and (max-width: 1050px) {
  .announcments-card-container {
    width: 100%;
  }

  .announcments-card-top {
    flex-direction: column;
    align-items: start;
  }

  .announcments-card-title {
    margin-left: 0;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
  }

  .announcments-card-date-month {
    font-size: 20px;
  }

  .announcments-card-date-top-day {
    font-size: 20px;
  }

  .announcments-card-date-top-year {
    font-size: 10px;
  }

  .announcments-card-description {
    font-weight: 400;
    font-size: 14px;
  }
}
