.text-link-xs {
  color: #e3e3e3;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--mainColorGray);
  font-family: "FiraGO";
  font-feature-settings: "case" on;
  font-size: 14px;
  padding: 0 10px; /* Add padding to create space between text and borders */
  text-transform: uppercase;
  transition: all 0.3s;
}

.text-link-xs:hover {
  font-weight: 800;
  font-size: 14.1px;
  transition: all 0.3s;
}

.text-link-xs:last-child {
  border: none;
}

.text-link-xs::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 10%;
  width: 80%;
  height: 2px;
  opacity: 0;
  background-color: var(--mainColorOrange);
  transition: width 1s ease;
}

.text-link-xs:hover::before {
  opacity: 100;
  transition: 0.3s ease;
}

@media only screen and (max-width: 1050px) {
  .text-link-xs:hover::before {
    opacity: 0;
    transition: none;
  }

  .text-link-xs:hover {
    transition: none;
    font-size: 14px;
    font-weight: normal;
  }
}
