.about-container {
  background-color: #22262f;
  min-height: 100vh;
}

.background-image {
  position: relative; /* Make the container relative for absolute positioning of pseudo-element */
  width: 100%; /* Set width to fill the parent container */
  height: 25rem; /* Set height to fill the viewport */
}

.background-image::before {
  content: ""; /* Required for pseudo-element */
  position: absolute; /* Position the pseudo-element */
  top: 0;
  left: 0;
  width: 100%; /* Set width to fill the container */
  height: 100%; /* Set height to fill the container */
  background-color: rgb(0, 0, 0); /* Black color with 50% opacity */
}

.background-image::after {
  content: ""; /* Required for pseudo-element */
  position: absolute; /* Position the pseudo-element */
  top: 0;
  left: 0;
  width: 100%; /* Set width to fill the container */
  height: 100%; /* Set height to fill the container */
  background-image: url("../../assets/images/background-photo.jpeg");
  background-size: 100%;
  background-position: 0% 35%;
  opacity: 0.4; /* Adjust the opacity of the background image */
}

.seu-background-image {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
}

.paragraph-underline {
  margin-top: 2rem;
  width: 55%;
  height: 2px;
  background-color: var(--mainColorOrange);
}

.about-content {
  display: flex;
}

.about-html-container {
  padding-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 4rem;
  width: 950px;
  min-height: 400px;
  display: flex;
  align-items: start;
  position: relative;
  z-index: 10;
  flex-wrap: wrap;
  background-color: #ededed;
  border-bottom-right-radius: 32px;
}

.about-html {
  font-size: 16px;
  font-family: "FiraGO";
  font-weight: 400;
  max-width: 90%;
  padding-bottom: 5rem;
}

.about-links-container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 2rem;
  width: calc(100% - 950px);
  height: 100%;
  transform: translateY(-60px);
  z-index: 3;
}

.about-breadcrumbs-container {
  width: 950px;
  background-color: #ededed;
}

.about-empty-div.type1 {
  padding-top: 18rem;
  background-color: #ededed;
  width: 950px;
}

.about-html div {
  width: 780px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  justify-content: space-between;
}

.about-type8-html-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
  width: 950px;
  min-height: 700px;
  position: relative;
  z-index: 10;
  height: auto;
  overflow-y: auto;
  background-color: #ededed;
  border-bottom-right-radius: 32px;
  transition: height 0.5s ease-in-out;
}

.about-type8-html-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.about-type8-html-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.type8-box {
  position: relative;
  width: 90%;
  height: auto;
  max-height: min-content;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  border: 1px solid transparent;
  font-family: FiraGO;
  font-feature-settings: "case" on;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: max-height 0.5s ease-in-out;
}

.type8-box.open {
  max-height: 100%;
}

.type8-question {
  margin-left: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 92%;
  font-size: 16px;
  font-weight: 400;
  color: #29334f;
  cursor: pointer;
}

.training-arrow {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 20px;
  transition: transform 0.4s ease;
}

.training-arrow.open {
  transform: rotateZ(-90deg);
}

.type8-html {
  display: none;
  opacity: 0;
  margin-top: 0.5rem;
  padding-top: 1rem;
  width: 96%;
  max-height: 0;
  max-height: 100%;
  margin-left: 1rem;
  font-size: 12px;
  font-weight: 400;
  color: #214177;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: opacity, display 0.5s ease-in-out;
}

.type8-html.open {
  display: flex;
  flex-direction: column;
  opacity: 1;
  border-top: 1px solid var(--mainColorOrange);
}

.content-page-bottom-container {
  background-color: #ededed;
  width: 950px;
}

.seu-rector-image-mobile {
  display: none;
}

@media only screen and (max-width: 1050px) {
  .about-html div {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: auto;
  }

  .seu-rector,
  .about-empty-div.type1 {
    display: none;
  }

  .rector-wrapper {
    background-color: #ededed;
    max-height: 265px;
  }

  .content-page-bottom-container {
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 100%;
    padding-top: 1rem;
  }

  .seu-rector-image-mobile {
    width: 100%;
    padding-top: 1rem;
    height: 207px;
    background-color: #ededed;
    position: relative;
  }

  .seu-rector-mobile {
    display: block;
    width: 90%;
    height: 100%;
    margin-left: 1rem;
    border-radius: 1rem;
    position: relative;
    object-fit: cover;
  }

  .about-html-container {
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .about-html {
    font-size: 12px;
    font-weight: 400;
  }

  .seu-rector-image-mobile {
    display: block;
  }

  .about-empty-div.type2 {
    display: none;
  }

  .about-type8-html-container {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }

  .type8-question {
    margin-left: 0.5rem;
    width: 90%;
    position: relative;
  }

  .type8-box {
    width: 100%;
  }

  .training-arrow {
    right: 0px;
    top: 50%;
    transform: translate(20px, -50%);
  }

  .training-arrow.open {
    right: 5px;
    top: 50%;
    transform: translate(20px, -50%) rotateZ(-90deg);
  }

  .type8-html.open {
    margin-left: 0.5rem;
  }
}
