.category-card-container {
  background-color: #fff;
  border: 1px solid #fff;
  transition: all 0.5s;
  border-radius: 0.5rem;
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  flex-direction: column;
  font-family: "FiraGO";
  max-width: 845px;
  position: relative;
  font-feature-settings: "case" on;
}

.category-card-container:hover {
  border: 1px solid var(--mainColorOrange);
}

.category-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.category-card-title {
  color: #29334f;
  font-family: "FiraGO";
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: left;
}

.category-see-full {
  position: absolute;
  transform: translateY(100%);
  background-color: #fff;
  padding: 0.8rem 0.5rem;
  border: 1px solid var(--mainColorOrange);
  right: 10px;
  color: #29334f;
  border-radius: 1rem;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 10000;
}

.category-see-full:hover {
  background-color: var(--mainColorOrange);
  color: #fff;
}

@media only screen and (max-width: 475px) {
  .category-card-container {
    width: 100%;
  }

  .category-card-title {
    font-weight: 600;
    font-size: 16px;
  }

  .category-see-full {
    font-size: 12px;
    font-weight: 400;
  }
}
